<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F0EC561587153CC2660632C08ADC56A5E96BD8B2</string>
				<key>dateExpires</key>
				<string>2023/10/9</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X7HLABK3WZ.com.bgw.walletfun</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X7HLABK3WZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>009656b1-efd2-4939-b8fb-db0a397a485a</string>
				<key>dateExpires</key>
				<string>2023/10/9</string>
				<key>name</key>
				<string>bgwhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X7HLABK3WZ</string>
				<key>name</key>
				<string>Yifan Li</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.5</string>
		</dict>
	</array>
</dict>
</plist>
